<nb-card>
    <nb-card-header>Formulario de Usuarios</nb-card-header>
    <nb-card-body>
      <form #userForm="ngForm" (ngSubmit)="!edit ? addUserForm(userForm) : editUserForm(userForm)">
            <div class="row"> 
            <div class="col-sm-12">
                <div class="form-group">
                  <label for="email" class="label">Correo electrónico <span class="danger">(*)</span></label>
                  <input type="email" nbInput fullWidth id="email" name="email" placeholder="ejemplo@alquilando.com" 
                  pattern="^[a-zA-Z0-9.!#$%&''*+/=?^_\`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
                  [(ngModel)]="user.email" #email="ngModel" required [disabled]="edit">

                </div>
                <div *ngIf="email.errors && userForm.submitted" class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                        El email es obligatorio
                    </div>
                    <div *ngIf="email.errors.pattern">
                        El email no tiene formato de correo
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                        <label for="first_name" class="label">Nombre <span class="danger">(*)</span></label>
                        <input type="text" nbInput fullWidth id="first_name" name="first_name" placeholder="Jose" [(ngModel)]="user.first_name" #first_name="ngModel" required>
                    </div>
                    <div *ngIf="first_name.errors && userForm.submitted" class="alert alert-danger">
                        <div *ngIf="first_name.errors.required">
                                El nombre es obligatorio
                        </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                        <label for="last_name" class="label">Apellido <span class="danger">(*)</span></label>
                        <input type="text" nbInput fullWidth id="last_name" name="last_name" placeholder="Basanta" [(ngModel)]="user.last_name" #last_name="ngModel" required>
                    </div>
                    <div *ngIf="last_name.errors && userForm.submitted" class="alert alert-danger">
                        <div *ngIf="last_name.errors.required">
                                El nombre es obligatorio
                        </div>
                </div>
            </div>

            </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="password" class="label">Contraseña <span *ngIf="!edit">(*)</span></label>
                    <input type="password" nbInput fullWidth id="password" name="password" placeholder="Contraseña" [(ngModel)]="user.password" #password="ngModel" [required]="!edit">
                </div>
                <div *ngIf="password.errors && userForm.submitted" class="alert alert-danger">
                    <div *ngIf="password.errors.required && !edit">
                        La contraseña es obligatoria
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="confirm_password" class="label">Confirmar contraseña <span *ngIf="!edit">(*)</span></label>
                    <input type="password" nbInput fullWidth id="confirm_password" name="confirm_password" placeholder="Confirmar contraseña" [(ngModel)]="user.confirm_password" #confirm_password="ngModel"  [required]="!edit">
 
                </div>
                <div *ngIf="confirm_password.errors && userForm.submitted" class="alert alert-danger">
                    <div *ngIf="confirmPassword.errors.required && !edit">
                        La confirmación de contraseña es obligatoria
                    </div>
                </div>
                <div *ngIf="!match" class="alert alert-danger">
                        Las contraseñas deben de ser iguales
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="avatar" class="label">Avatar <span *ngIf="!edit">(*)</span></label>
                    <input type="file" class="dropify" #avatar name="avatar" [(ngModel)]="user.avatar">
                </div>
            </div>
        </div>

        <div *ngIf="!edit">
            <label class="label">
                Los campos con (*) son obligatorios
            </label>
        </div>
        <div>
            <label *ngIf="edit" class="label">Si no desea cambiar la contraseña, debe dejar esos campos vacíos</label>
        </div>
        <button type="submit" nbButton status="primary">Guardar</button>
      </form>
    </nb-card-body>
  </nb-card>